URLHAUS_AUTH_KEY=replace-with-key-from-https://auth.abuse.ch
NVD_API_KEY=replace-with-key-from-https://nvd.nist.gov/developers/request-an-api-key
FALCONEYE_DB_PATH=/opt/falconeye/db/falconeye.db
FALCONEYE_OUTPUT_DIR=/opt/falconeye/public
